resources:
- type: compute.v1.network
  name: network-1
  properties:
    autoCreateSubnetworks: false
- name: subnet-a
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: 10.0.1.0/24
    network: $(ref.network-1.selfLink)
    privateIpGoogleAccess: false
    region: us-central1
- name: ssh-network-1
  type: compute.v1.firewall
  properties:
    network: $(ref.network-1.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: ["22"]
- type: compute.v1.firewall
  name: default-allow-http-1
  properties:
    network: $(ref.network-1.selfLink)
    targetTags: ["http-server"]
    sourceRanges: ["0.0.0.0/0"]
    allowed:
      - IPProtocol: TCP
        ports: ["80"] 